In [1]:
import pandas as pd

In [2]:
df = pd.read_json("data/recipe.json")
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [5]:
# we can load json from url also 
df = pd.read_csv("https://api.exchangerate-api.com/v4/latest/USD")
df

Empty DataFrame
Columns: [{"provider":"https://www.exchangerate-api.com", WARNING_UPGRADE_TO_V6:"https://www.exchangerate-api.com/docs/free", terms:"https://www.exchangerate-api.com/terms", base:"USD", date:"2026-01-08", time_last_updated:1767830401, rates:{"USD":1, AED:3.67, AFN:66.19, ALL:82.66, AMD:381.44, ANG:1.79, AOA:920.57, ARS:1452.25, AUD:1.49, AWG:1.79, AZN:1.7, BAM:1.67, BBD:2, BDT:122.18, BGN:1.62, BHD:0.376, BIF:2963.25, BMD:1, BND:1.28, BOB:6.92, BRL:5.39, BSD:1, BTN:89.9, BWP:13.6, BYN:2.94, BZD:2, CAD:1.38, CDF:2272, CHF:0.797, CLF:0.0226, CLP:894.19, CNH:6.99, CNY:7, COP:3722.54, CRC:497.12, CUP:24, CVE:94.37, CZK:20.77, DJF:177.72, DKK:6.39, DOP:63.41, DZD:129.87, EGP:47.25, ERN:15, ETB:154.98, EUR:0.856, FJD:2.27, FKP:0.742, FOK:6.39, GBP:0.742, GEL:2.7, GGP:0.742, GHS:10.69, GIP:0.742, GMD:73.85, GNF:8743.3, GTQ:7.66, GYD:209.17, HKD:7.79, HNL:26.37, HRK:6.45, HTG:130.94, HUF:329.35, IDR:16787.94, ILS:3.17, IMP:0.742, INR:89.9, IQD:1309.94, IRR:42319.38, ISK:125.94, JEP:0.742, JMD:158.36, JOD:0.709, JPY:156.66, KES:128.99, KGS:87.41, KHR:4016.91, KID:1.49, KMF:421.07, KRW:1448.03, KWD:0.307, KYD:0.833, KZT:509.72, LAK:21650.29, LBP:89500, LKR:309.87, LRD:178.83, LSL:16.45, LYD:5.41, MAD:9.21, MDL:16.78, MGA:4617.38, MKD:52.67, MMK:2101.08, ...]
Index: []

[0 rows x 172 columns]

## working with SQL

In [ ]:
# a software is required called xammpp