In [1]:
import pandas as pd

In [2]:
df = pd.read_json("data/recipe.json")
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [5]:
# we can load json from url also 
df = pd.read_csv("https://api.exchangerate-api.com/v4/latest/USD")
df

Empty DataFrame
Columns: [{"provider":"https://www.exchangerate-api.com", WARNING_UPGRADE_TO_V6:"https://www.exchangerate-api.com/docs/free", terms:"https://www.exchangerate-api.com/terms", base:"USD", date:"2026-01-08", time_last_updated:1767830401, rates:{"USD":1, AED:3.67, AFN:66.19, ALL:82.66, AMD:381.44, ANG:1.79, AOA:920.57, ARS:1452.25, AUD:1.49, AWG:1.79, AZN:1.7, BAM:1.67, BBD:2, BDT:122.18, BGN:1.62, BHD:0.376, BIF:2963.25, BMD:1, BND:1.28, BOB:6.92, BRL:5.39, BSD:1, BTN:89.9, BWP:13.6, BYN:2.94, BZD:2, CAD:1.38, CDF:2272, CHF:0.797, CLF:0.0226, CLP:894.19, CNH:6.99, CNY:7, COP:3722.54, CRC:497.12, CUP:24, CVE:94.37, CZK:20.77, DJF:177.72, DKK:6.39, DOP:63.41, DZD:129.87, EGP:47.25, ERN:15, ETB:154.98, EUR:0.856, FJD:2.27, FKP:0.742, FOK:6.39, GBP:0.742, GEL:2.7, GGP:0.742, GHS:10.69, GIP:0.742, GMD:73.85, GNF:8743.3, GTQ:7.66, GYD:209.17, HKD:7.79, HNL:26.37, HRK:6.45, HTG:130.94, HUF:329.35, IDR:16787.94, ILS:3.17, IMP:0.742, INR:89.9, IQD:1309.94, IRR:42319.38, ISK:125.94, JEP:0.742, JMD:158.36, JOD:0.709, JPY:156.66, KES:128.99, KGS:87.41, KHR:4016.91, KID:1.49, KMF:421.07, KRW:1448.03, KWD:0.307, KYD:0.833, KZT:509.72, LAK:21650.29, LBP:89500, LKR:309.87, LRD:178.83, LSL:16.45, LYD:5.41, MAD:9.21, MDL:16.78, MGA:4617.38, MKD:52.67, MMK:2101.08, ...]
Index: []

[0 rows x 172 columns]

## working with SQL

In [2]:
# a software is required called xammpp
# and if you need to import data from database(mysql) to python we need mysql.connector
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     ------ --------------------------------- 1.8/11.9 MB 8.4 MB/s eta 0:00:02
     ----------------- ---------------------- 5.2/11.9 MB 11.4 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 13.1 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 13.9 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 13.5 MB/s  0:00:01
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=248038 sha256=7fdc5f382583c510ff5dd038f691c889165c1e7f9885f0c0becb45584b458130
  Stored in directory: c:\users\shyam\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [3]:
import mysql.connector

In [6]:
# we have to create connection through python
conn = mysql.connector.connect(host="localhost",user="root",password="",database="world")
#mysql.connector.connect(host=)

In [9]:
# takes a query and connection as parameters
import pandas as pd
pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'IND' ",conn)

C:\Users\Shyam\AppData\Local\Temp\ipykernel_19768\517165478.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'IND' ",conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]

In [11]:
pd.read_sql_query("SELECT * FROM country WHERE  LifeExpectancy > 60",conn)

C:\Users\Shyam\AppData\Local\Temp\ipykernel_19768\3802441703.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM country WHERE  LifeExpectancy > 60",conn)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129,AW
1,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62,AI
2,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34,AL
3,AND,Andorra,Europe,Southern Europe,468.0,1278.0,78000,83.5,1630.0,NaN,Andorra,Parliamentary Coprincipality,,55,AD
4,ANT,Netherlands Antilles,North America,Caribbean,800.0,NaN,217000,74.7,1941.0,NaN,Nederlandse Antillen,Nonmetropolitan Territory of The Netherlands,Beatrix,33,AN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,VIR,"Virgin Islands, U.S.",North America,Caribbean,347.0,NaN,93000,78.1,0.0,NaN,Virgin Islands of the United States,US Territory,George W. Bush,4067,VI
163,VNM,Vietnam,Asia,Southeast Asia,331689.0,1945.0,79832000,69.3,21929.0,22834.0,Viêt Nam,Socialistic Republic,Trân Duc Luong,3770,VN
164,VUT,Vanuatu,Oceania,Melanesia,12189.0,1980.0,190000,60.6,261.0,246.0,Vanuatu,Republic,John Bani,3537,VU
165,WSM,Samoa,Oceania,Polynesia,2831.0,1962.0,180000,69.2,141.0,157.0,Samoa,Parlementary Monarchy,Malietoa Tanumafili II,3169,WS
166,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792,YU

In [12]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)
df

C:\Users\Shyam\AppData\Local\Temp\ipykernel_19768\1533879884.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)

    CountryCode    Language IsOfficial  Percentage
0           ABW       Dutch          T         5.3
1           ABW     English          F         9.5
2           ABW  Papiamento          F        76.7
3           ABW     Spanish          F         7.4
4           AFG     Balochi          F         0.9
..          ...         ...        ...         ...
979         ZMB      Tongan          F        11.0
980         ZWE     English          T         2.2
981         ZWE     Ndebele          F        16.2
982         ZWE      Nyanja          F         2.2
983         ZWE       Shona          F        72.1

[984 rows x 4 columns]